.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;
}

a > span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

/* Responsive design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .headerLeft {
        flex-direction: row;
        justify-content: center;
    }

    .header__icon {
        width: 60px; /* Reduce logo size */
        margin-bottom: 0px;
    }

    .header a > span {
        margin: 0 15px; /* Reduce link spacing */
        font-size: 1.1rem; /* Reduce font size */
    }
}

@media (max-width: 480px) {
    .header {
        padding: .5rem 0;
    }

    .header__icon {
        width: 40px; /* Further reduce logo size */
    }

    .header a > span {
        font-size: 0.9rem; /* Further reduce font size */
    }
}
